body{
    background-color: gainsboro;
}
a {
    color: cadetblue;
    text-decoration: none;
}
input, button{
    width: 40%;
    border: 2px solid gray;
    padding: 5px;
}
.logo {
    color: blue;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 

#padding-test{
    border: 2px solid blue;
    padding: 5px;
}